[submodule "MeshKit"]
	path = MeshKit
	url = git@github.com:EthanLipnik/MeshKit.git
[submodule "PixabayKit"]
	path = PixabayKit
	url = git@github.com:EthanLipnik/PixabayKit.git
[submodule "Maple Diffusion"]
	path = Maple Diffusion
	url = https://github.com/EthanLipnik/maple-diffusion.git
